/* typo */
body{
  font-family: 'Montserrat', sans-serif;
}
h1{
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 700;
}
.text__white{
  color: #fff;
}
.nav-link {
  font-size: 16px;
}
.nav__logo{
  font-size: 28px;
}
.nav__logo, .nav-link{
  font-weight: 700;
  text-transform: uppercase;
  vertical-align: middle;
}
.nav__line-height{
  line-height: 28px;
}
#hmbg{
  font-weight: 700;
}
.box__jumbotron p{
  font-size: 24px;
  font-weight: 300;
}
.section__title{
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
}
/* /typo */
/* mix */
.main__jumbotron, .main__about{
  background-color: #1abc9c;
  padding: 30px;
}
.bg__primary{
  background-color: #2c3e50;
}
.bg__secondary{
  background-color: #1abc9c;
}
.text__primary{
  color: #2c3e50;
}
.divisor{
  margin-bottom: 20px;
}
.divisor::after, .divisor::before{
  content: '';
  height: 4px;
  width: 100%;
  max-width: 110px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 5px;
}
.div__wht::after, .div__wht::before{
  background-color: #fff;
}
.div__blk::after, .div__blk::before{
  background-color: #2c3e50;;
}
.divisor__star{
  font-size: 25px;
  display: inline-block;
  margin: 0 5px;
  vertical-align: middle;
}
/* /mix */
/* hover */
.nav-link:hover, .nav-link:focus, .nav__logo:hover, .nav__logo:focus{
  color: #1abc9c;
  text-decoration: none;
}
#hmbg:hover{
  background-color: #148f77;
}
/* /hover */

/* header */
header{
  background-color: #2c3e50;
  padding: 10px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 15;
}
/* nav */
nav ul{
  margin-bottom: 0;
}
nav li {
  display: inline-block;
  margin-left: 20px;
}
#hmbg{
  display: none;
}
#hmbg i{
  margin-left: 3px;
}
/* /nav */
/* responsive */
@media screen and (max-width:991px) {
  #hmbg{
    display: inline-block;
    border: none;
    background-color: #1abc9c;
    border-radius: 5px;
    padding: 4px 8px;
  }
  nav li{
    display: none;
  }
}
/* responsive */

/* /header */
/* main */
/* jumbotron */
.box__jumbotron{
  padding: 50px 0 30px 0;
  max-width: 800px;
  width: 60%;
  margin: auto;
  text-align: center;
}
.box__jumbotron img{
  width: 240px;
}
/* jumbotron */
/* responsive */
@media screen and (max-width:767px) {
  .box__jumbotron{
    width: 100%;
  }
}
@media screen and (max-width:991px) {
  .box__jumbotron{
    width: 75%;
  }
  h1{
    font-size: 38px;
  }
  .box__jumbotron p{
    font-size: 20px;
  }
}
/* /responsive */
/* portfolio */
.portfolio{
  text-align: center;
}
.portfolio__box{
  padding: 20px;
}
.portfolio__box__img{
  background-color: green;
}
.portfolio__img img{
  max-width: 100%;
}
/* responsive */
@media screen and (max-width:991px) {
  .section__title{
    font-size: 30px;
  }
}
/* /responsive */
/* /portfolio */
/* about */
.about__title{
  margin-bottom: 20px;
}
.about__text{
  padding: 20px 0;
}
.about__btn{
  text-align: center;
}
/* /about */
/* contactme */
.contactme{
  padding: 30px 0;
}
/* /contactme */
/* /main */

/* footer */
footer{
  text-align: center;
  background-color: #2c3e50;
}
.footer__bottom{
  background-color: #1a252f;
  padding: 10px 0;
}
/* /footer */
