/* typo */
h1{
  font-size: 45px;
}
#hmbg{
  display: none;
  color: #fff;
}
/* /typo */
/* mix */
.main__jumbotron, .main__about{
  background-color: #1abc9c;
  padding: 30px;
}
/* /mix */
/* header */
header{
  background-color: #2c3e50;
  padding-top: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 15;
}
/* nav */
.nav-link {
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
}
.nav-link:hover, .nav-link:focus{
  color: #1abc9c;
  text-decoration: none;
}
nav li {
  display: inline-block;
  margin-left: 20px;
}
/* /nav */
/* responsive */
@media screen and (max-width:991px) {
  #hmbg{
    display: block;
    border-radius: 5px;
    border: 1px solid #fff;
    padding: 3px 6px;
  }
  nav li:not(li:first-child){
    display: none;
  }
}
/* responsive */

/* /header */
/* main */
/* jumbotron */
.box__jumbotron{
  max-width: 800px;
  width: 60%;
  margin: auto;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}
/* jumbotron */
/* responsive */
@media screen and (max-width:767px) {
  .box__jumbotron{
    width: 100%;
  }
}
@media screen and (max-width:991px) {
  .box__jumbotron{
    width: 75%;
  }
}
/* /responsive */
/* portfolio */
.portfolio{
  text-align: center;
}
.portfolio__box{
  padding: 20px;
}
.portfolio__box__img{
  background-color: green;
}
.portfolio__img img{
  max-width: 100%;
}
/* /portfolio */
/* about */
.about__title{
  margin-bottom: 20px;
}
.about__text{
  color: #fff;
  padding: 20px 0;
}
.about__btn{
  text-align: center;
}
/* /about */
/* contactme */
.contactme{
  padding: 30px 0;
}
/* /contactme */
/* /main */

/* footer */
footer{
  text-align: center;
  color: #fff;
  background-color: #2c3e50;
}
.footer__bottom{
  background-color: #1a252f;
  padding: 10px 0;
}
/* /footer */
